/* CSS Externo */ 


/* Definir as cores tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
  --cor-fundo:#000000;
  --cor-texto:#ffffff;
  --menu-link:rgb(243, 243, 243);
  --cor-borda:#fff3f3;
}
:root[data-theme='light'] {
  --cor-fundo:#ffffff;
  --cor-texto:#000000;
  --menu-link:rgb(0, 0, 0);
  --cor-borda:#1b1b1b;
  
}

/* Reset CSS = Padronizar */
/* Seletor Universal */
*{
 margin: 0;
 padding: 0%;
}

/* Inverter cor LOGO = filtro */
html[data-theme='light'] .logo {
  filter: invert(1);
}

body { 
background:var(--cor-fundo);  /* cor fundo */
    color:var(--cor-texto) ; /* cor TEXTOS */
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}
ul {
list-style:none ;/* Estilo de Lista */
}


body {
    background: var(--cor-fundo); /* cor fundo */
    color: var(--cor-texto) ; /* cor TEXTOS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
   color: var(--menu-link);
   text-decoration: none;
}

ul {
    list-style: none;  /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-fundo);
    border-bottom: 5px solid var(--cor-borda);
    position: fixed; /* voltar */
    z-index: 9999; /* camadas */

}

.menu-desktop {
    background: rgb(104, 104, 104);
    display: none;
    /* esconde o menu desktop */
}

/* 'NAV = UL // OL*/
.menu {
    display: flex; /* em linha // horizontal */
    gap: 1rem; /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link{
    display: flex;
    align-items: center;
}

.menu-text{
    color: var(--menu-link);
    font-size: 1.2rem;
    text-transform: capitalize;
    

}

/* menu Hamburguer */

#menuHamburger {
     margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.1rem;
}

.menu-mobile { /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh; /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    transform: translateX(100%);


}

/* Ativar o meu menu mobile  */
    .menu-mobile.active{
        transform: translateX(0%);
    }

    .menu-mobile .menu-list{
        display: flex;
        flex-direction: column;/* EIXO Y = Vertical */
        gap: 1rem;
        width: 50%;
        padding: 1rem 1rem 2rem;
        
        
    }

    .menu-mobile .menu-item {
        width: 100%;
        text-align: center;
    }

    .menu-mobile .menu-link{
        padding: 0.5rem 0;
        display: inline-block;
        font-size: 1rem;
    }


    .logo{
        width: 3.20rem; /* comprimento */
        height: 2.0rem; /* altura */
    }


    .header-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    


/* Medidas Responsivas */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
        min-width: 30%;
    }

    .btn-menu-mobile{
        display: none;
    }

    .header-toggle {
        min-width: 30%;
    }

}
